body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5dc; 
  color: #008080;
}

nav {
  background-color: #ff4500;
  padding: 10px 20px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
  max-width: 900px;
  margin: auto;
  background-color: #f5f5dc;
  color: #008080;
  border-radius: 5px;
}

h1,
h2 {
  color: #006666;
  margin-bottom: 20px;
}

p {
  color: #008080;
}
